importFrom("utils", "packageDescription")
importFrom("tools","file_path_as_absolute")
import("rJava")
exportPattern("rhive.init")
exportPattern("rhive.assign")
exportPattern("rhive.rm")
exportPattern("rhive.connect")
exportPattern("rhive.close")
exportPattern("rhive.query")
exportPattern("rhive.export")
exportPattern("rhive.exportAll")
exportPattern("rhive.list.tables")
exportPattern("rhive.desc.table")
exportPattern("rhive.load.table")
exportPattern("^hive")