importFrom("utils", "packageDescription")
importFrom("tools","file_path_as_absolute")
import("rJava")
exportPattern("rhive.init")
exportPattern("rhive.env")
exportPattern("rhive.assign")
exportPattern("rhive.rm")
exportPattern("rhive.connect")
exportPattern("rhive.close")
exportPattern("rhive.query")
exportPattern("rhive.execute")
exportPattern("rhive.big.query")
exportPattern("rhive.export")
exportPattern("rhive.exportAll")
exportPattern("rhive.list.udfs")
exportPattern("rhive.rm.udf")
exportPattern("rhive.list.databases")
exportPattern("rhive.show.databases")
exportPattern("rhive.use.database")
exportPattern("rhive.list.tables")
exportPattern("rhive.show.tables")
exportPattern("rhive.desc.table")
exportPattern("rhive.load.table")
exportPattern("rhive.load.table2")
exportPattern("rhive.exist.table")
exportPattern("rhive.size.table")
exportPattern("rhive.drop.table")
exportPattern("rhive.set")
exportPattern("rhive.unset")
exportPattern("rhive.napply")
exportPattern("rhive.sapply")
exportPattern("rhive.aggregate")
exportPattern("rhive.save")
exportPattern("rhive.load")
exportPattern("rhive.hdfs.connect")
exportPattern("rhive.hdfs.ls")
exportPattern("rhive.hdfs.put")
exportPattern("rhive.hdfs.get")
exportPattern("rhive.hdfs.rm")
exportPattern("rhive.hdfs.rename")
exportPattern("rhive.hdfs.exists")
exportPattern("rhive.hdfs.mkdirs")
exportPattern("rhive.hdfs.cat")
exportPattern("rhive.hdfs.tail")
exportPattern("rhive.hdfs.du")
exportPattern("rhive.hdfs.info")
exportPattern("rhive.hdfs.close")
exportPattern("rhive.script.export")
exportPattern("rhive.script.unexport")
exportPattern("rhive.mrapply")
exportPattern("rhive.mapapply")
exportPattern("rhive.reduceapply")
exportPattern("rhive.write.table")
exportPattern("rhive.basic.mode")
exportPattern("rhive.basic.range")
exportPattern("rhive.basic.merge")
exportPattern("rhive.basic.xtabs")
exportPattern("rhive.basic.cut")
exportPattern("rhive.basic.cut2")
exportPattern("rhive.basic.by")
exportPattern("rhive.basic.scale")
exportPattern("rhive.basic.t.test")
exportPattern("rhive.block.sample")
exportPattern("rhive.hdfs.chmod")
exportPattern("rhive.hdfs.chown")
exportPattern("rhive.hdfs.chgrp")
exportPattern("^hive")
