importFrom("utils", "packageDescription")
importFrom("tools","file_path_as_absolute")
import("rJava")
exportPattern("rhive.init")
exportPattern("rhive.env")
exportPattern("rhive.assign")
exportPattern("rhive.rm")
exportPattern("rhive.connect")
exportPattern("rhive.close")
exportPattern("rhive.query")
exportPattern("rhive.export")
exportPattern("rhive.exportAll")
exportPattern("rhive.list.tables")
exportPattern("rhive.desc.table")
exportPattern("rhive.load.table")
exportPattern("rhive.exist.table")
exportPattern("rhive.napply")
exportPattern("rhive.sapply")
exportPattern("rhive.aggregate")
exportPattern("rhive.save")
exportPattern("rhive.load")
exportPattern("rhive.hdfs.connect")
exportPattern("rhive.hdfs.ls")
exportPattern("rhive.hdfs.put")
exportPattern("rhive.hdfs.get")
exportPattern("rhive.hdfs.rm")
exportPattern("rhive.hdfs.rename")
exportPattern("rhive.hdfs.exists")
exportPattern("rhive.hdfs.mkdirs")
exportPattern("rhive.hdfs.cat")
exportPattern("rhive.hdfs.tail")
exportPattern("rhive.hdfs.close")
exportPattern("rhive.script.export")
exportPattern("rhive.script.unexport")
exportPattern("rhive.mrapply")
exportPattern("rhive.mapapply")
exportPattern("rhive.reduceapply")
exportPattern("rhive.write.table")
exportPattern("^hive")